<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "nkanyisomngadi32@gmail.com"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>pine city mall</name>

  <description>
      explore the pine city mall app
  </description>

  <author href="http://PINECITYMALL.COM" email="nkanyisomngadi32@gmail.com">
      KHNYISANI
  </author>

</widget>